.nav{
    display: flex;
    flex-direction: column;
    background: #cfcccc;
    width: 20%;
    height: calc(100vh - 42px);
    padding: 16px 12px;
    gap: 12px;
    overflow: auto;
}
.item {
    color: #585757;
    text-decoration: none;
    padding: 9px 13px;
    border-radius: 10px;
    display: block;
}
.item:hover{
    background-color: #d5d6d9;
    transition: .3s all;

}
.active{
    color: #2a41e8;
    text-decoration: none;
    padding: 9px 13px;
    background: rgba(42, 65, 232, 0.07);
    border-radius: 10px;
    display: block;
}